{% include head.html %}
<body>

  <div id="container">
    <header>

    </header>
    <main id="main">
      {{ content }}
    </main>
    <footer>        
      <h2 id="site">Páginas</h2>
    <nav aria-labelledby="site">
      <ul>
        <li><a href="/www-a11y/" rel="home">Home</a></li>
        <li><a href="/www-a11y/about">Sobre</a></li>
      </ul>
    </nav>
      <h2 id="blog">Artigos</h2>
    <nav aria-labelledby="blog">          
      <ul>
        {% for post in site.posts %}
          <li {% if page.url == post.url %}aria-current="page"{% endif %}><a href="/www-a11y/{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    </footer>
  </div> <!--! end of #container -->
{% include scripts.html %}	        
</body>
</html>