{% include head.html %}
<body class="w3-content">

  <div class="w3-container">
    <header class="w3-container w3-indigo">
    	{% if page.url == "/" %}
          <h1>acessibilidade.gov.pt</h1>
    		  <p><small>O presente sítio Web serve de apoio redacional ao sítio Web <a href="http://www.acessibilidade.gov.pt">acessibilidade.gov.pt</a></small></p>
    	{% endif %}
    	{% if page.url != "/" %}
          <p><a href="/www-a11y/index" title="ir para a primeira página" rel="home">acessibilidade.gov.pt</a></p>
    	{% endif %}    	
    </header>
    <main id="main" class="w3-container w3-light-gray">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
    <footer class="w3-container w3-indigo">
      <a href="https://github.com/jorgeponto/www-a11y">git www-a11y</a>
      <h2 id="site">Páginas</h2>
    <nav aria-labelledby="site">
      <ul>
        <li><a href="/www-a11y/about">Sobre</a></li>
      </ul>
    </nav>
      <h2 id="blog">Artigos</h2>
    <nav aria-labelledby="blog">          
      <ul>
        {% for post in site.posts %}
          <li {% if page.url == post.url %}aria-current="page"{% endif %}><a href="/www-a11y{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    </footer>
  </div> <!--! end of #container -->
</body>
</html>
